@font-face {
font-family: "Inter";
font-style: normal;
font-weight: 400;
src: url("../fonts/inter-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "Inter";
font-style: normal;
font-weight: 700;
src: url("../fonts/inter-700.woff2") format("woff2");
font-display: swap;
}

@font-face {
font-family: "Inter";
font-style: normal;
font-weight: 900;
src: url("../fonts/inter-900.woff2") format("woff2");
font-display: swap;
}

:root {
/*  primary colors*/
--basic-extra-dark:#2D3440;
--basic-dark:#565C66;
--basic-neutral:#B9B9B9;
--basic-light:#E7E7E7;
--basic-extra-light:#FCFCFC;
--basic-white:#FFFFFF;

/* additional colors*/
--special-extra-bright:#FF2F64;
--special-bright:#FF4A78;
--special-neutral:#FF7799;
--special-light:#FEAFC3;
--special-exta-light:#FFCBD8;
--special-blue:#69A9FF;
--special-yellow:#FCC850;

/* status colors*/
--status-error:#EA5454;
--status-warning:#FD912E;
--status-success:#00E484;



/* icons colors*/
--basic-extra-light-icon:rgba(252, 252, 252, 0.30);
--basic-extra-light-hover:rgba(252, 252, 252, 0.50);
}


body {
font-family: "Inter", "Arial", sans-serif;
min-height: 100%;
font-size: 16px;
font-weight: 400;
line-height: 22px;
color: var(--basic-dark);
background-color: var(--special-light);
margin: 0;
padding: 0;
}

html {
height: 100%;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

.button {
font-family: inherit;
color: var(--basic-extra-dark);
font-weight: 700;
line-height: 20px;
font-size: 16px;
text-decoration: none;
display: inline-block;
cursor: pointer;
}

/* Load-button */
.loading-button::after{
content: "";
display: block;
width: 16px;
height: 16px;
animation-name: spin;
animation-duration: 3s;
animation-iteration-count: infinite;
background-image: url("../images/main/spinner.svg");
}

@keyframes spin {
0% {
transform: rotate(0);
}

100% {
transform: rotate(360deg);
}
}

.button.loading-button {
display: flex;
align-items: center;
gap: 8px;
}


/* Load-button */

.container {
width: 1170px;
margin: 0 auto;
}

.main-header {
width: 1170px;
margin: 0 auto;
padding-top: 24px;
padding-bottom: 24px;
display: flex;
align-items: center;
}

.header-logo {
margin-right: 16px;
}

.header-logo-img {
display: block;
}

.navigation {
width: 1017px;
display: flex;
align-items: center;
justify-content: space-between;
}


.wrap-user-menu {
display: flex;
align-items: center;
}

.navigation-menu-list {
display: flex;
margin: 0;
padding: 0;
}



.navigation-menu-item {
list-style: none;
position: relative;
}

.navigation-menu-link {
font-family: "Inter", sans-serif;
color: var(--basic-extra-dark);
padding: 8px 16px;
line-height: 20px;
text-decoration: none;
border-radius: 30px;
transition: background-color .1s ease-out;
}

.navigation-menu-link:hover {
background-color: var(--special-exta-light );
}

.navigation-menu-link:focus {
outline: 2px solid #000;
background-color: var(--basic-extra-light-hover);
}
.navigation-menu-link:active {
background-color: var(--basic-extra-light );
}


.arrow-img {
position: relative;
}

.arrow-img::before,
.arrow-img::after {
content: "";
position: absolute;
width: 7px;
height: 1px;
background-color: var(--basic-extra-dark);
top: 11px;
transition: transform .1s ease-out,
opacity .1s ease-out;;
}

.arrow-img::before {
transform: rotate(40deg);
right: 22px;
}

.arrow-img:hover::before {
transform: rotate(-40deg);
background-color: var(--basic-extra-dark);
}

.arrow-img::after {
transform: rotate(-40deg);
right: 17px;
}

.arrow-img:hover::after {
transform: rotate(40deg);

}

.navigation-menu-link.arrow-img {
border-radius: 30px;
color: var(--basic-extra-light);
transition: background-color .1s ease-out,
opacity .1s ease-out;
}

.navigation-menu-item.arrow-img > .navigation-menu-link {
padding: 8px 38px 8px 16px;
}

.navigation-menu-link.arrow-img:hover {
padding: 8px 38px 8px 16px;
opacity: 0.6;
}

.navigation-menu-link.arrow-img:focus {
outline: 2px solid #000;
outline-offset: -2px;
}

.navigation-menu-link.arrow-img:active {
opacity: 0.3;
}


.navigation-menu-item:hover > .dropdown-list {
display: block;
}

.dropdown-item {
list-style: none;
}

.dropdown-list {
display: none;
position: absolute;
top: 37px;
padding: 0;
padding: 8px 0 8px 0;
background-color: var(--basic-light);
border-radius: 4px;
width: 135px;
z-index: 1;
box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
}

.dropdown-list::before {
content: "";
position: absolute;
top: -10px;
width: 100%;
height: 100%;
z-index: -1;
}

.dropdown-link {
display: block;
width: 138px;
padding: 6px 16px 6px 16px;
text-decoration: none;
color: var(--basic-extra-dark);
font-size: 14px;
line-height: 20px;
transition: background-color .1s ease-out,
color .1s ease-out;
}


.new-category {
margin-bottom: 12px;

}
.new-category > .dropdown-link {
width: 135px;
font-weight: 700;
position: relative;
}


.new-category > .dropdown-link::after {
content: "";
position: absolute;
bottom: -8px;
left: 18px;
display: block;
width: 103px;
height: 1px;
background-color: var(--basic-neutral);

}

.dropdown-link {
color: var(--basic-extra-dark);
text-decoration: none;
}

.dropdown-link:hover {
background-color: var(--special-exta-light);
}

.dropdown-link:active {
background-color: var(--special-neutral);
}

.dropdown-link:focus {
background-color: var(--special-bright);
color: var(--basic-extra-light);
}

.menu-search {
width: 32px;
height: 32px;
border-radius: 50%;
background-image: url("../images/header/search.svg");
background-repeat: no-repeat;
background-position: center;
}

.user-tel {
font-weight: 700;
color: var(--basic-extra-dark);
text-decoration: none;
margin-right: 16px;
}

.user-menu-list {
display: flex;
margin: 0;
padding: 0;
align-items: center;
gap: 16px;
}

.user-menu-item {
position: relative;
list-style: none;
}

.cart-popup,
.cart-popup-empty {
  display: none;
}

.cart-popup-empty {
  position: absolute;
  top: 37px;
  right: 0;
  width: 288px;
  height: 156px;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  padding: 48px 0;
}

.cart-popup-empty::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  display: block;
  width: 100%;
  height: 26px;
  background-color: transparent;
  }
.cart-popup-empty .popup-title {
  margin: 0;
  display: block;
  text-align: center;
}

.cart-popup {
position: absolute;
top: 37px;
right: 0;
padding: 48px;
border-radius: 4px;
background: var(--basic-extra-light);
z-index: 2;
}

.user-menu-item:hover  .cart-popup {
display: block;
}

.cart-popup::before {
content: "";
position: absolute;
top: -8px;
right: 0;
display: block;
width: 100%;
height: 26px;
background-color: transparent;
}

.popup-title {
font-size: 24px;
font-weight: 700;
line-height: 30px;
color: var(--basic-extra-dark);
margin: 0;
margin-bottom: 37px;
}


.cart-popup-title {
color: var(--basic-extra-dark);
margin: 0;
font-size: 18px;
font-weight: 700;
text-decoration: none;
grid-column: 2 / 3;
grid-row: 1 / 2;
}
.cart-popup-list {
margin: 0 0 32px;
padding: 0 0 32px;
border-bottom: 1px solid var(--basic-light);
}
.cart-popup-item {
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 46px 148px 87px 16px;
grid-template-rows: 22px 20px;
gap: 4px 16px;
list-style: none;
}

.cart-popup-item + .cart-popup-item {
margin-top: 19px;
}

.cart-popup-image-container {
width: 46px;
height: 46px;
display: block;
grid-column: 1 / 2;
grid-row: 1 / -1;
}

.cart-popup-product-calc {
margin: 0;
grid-column: 2 / 3;
grid-row: 2 / -1;
font-size: 14px;
line-height: 20px;
color: var(--basic-neutral);
}
.product-calc-count {

}
.product-calc-price {

}
.cart-popup-product-price {
grid-column: 3 / 4;
grid-row: 1 / -1;
margin: 0;
font-size: 18px;
font-weight: 700;
line-height: 22px;
color: var(--basic-extra-dark);
}
.product-price-value {
}

.cart-popup-product-remove {
width: 16px;
height: 16px;
grid-column: 4 / 5;
grid-row: 1 / -1;
align-self: center;
background-color: transparent;
border: none;
background-image: url("../images/header/cross-popup.svg");
cursor: pointer;
transition: opacity .1s ease-out;
}

.cart-popup-product-remove:hover {
opacity: 0.6;
}

.cart-popup-product-remove:focus {
outline: 2px solid var(--basic-extra-dark);
}

.cart-popup-product-remove:active {
opacity: 0.3;
}

.cart-popup-footer {
display: flex;
gap: 32px;
align-items: center;
margin-top: 32px;
}

.cart-popup-button {
padding: 12px 32px;
text-decoration: none;
background: var(--special-extra-bright);
font-weight: 700;
border: none;
outline: 4px solid rgba(255, 47, 100, 0.30);
border-radius: 26px;
color: var(--basic-extra-light);
box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
transition: background-color 0.1s ease-out, color 0.1s ease-out, outline 0.1s ease-out;
}
.cart-popup-button:hover {
background-color: var(--basic-extra-light-hover);
color: var(--basic-extra-dark);
outline: 4px solid var(--special-bright)
}

.cart-popup-button:focus {
outline: 2px solid var(--basic-extra-dark);
}
.cart-popup-button:active {
background-color: var(--special-light);
outline: 2px solid var(--basic-extra-dark);
}
.cart-popup-result {
margin: 0;
font-size: 18px;
color: var(--basic-extra-dark);
font-weight: 700;
line-height: 22px;
}
.cart-result__value {
}

.user-menu-item:hover  .search-form {
display: block;
}

.user-menu-link {
display: block;
padding: 6px 16px;
color: var(--basic-extra-dark);
text-decoration: none;
line-height: 20px;
font-size: 14px;
background-color: var(--basic-extra-light-icon);
border-radius: 30px;
transition: background-color .1s ease-out;
}

.user-menu-link:hover {
background-color: var(--basic-extra-light-hover);
}
.user-menu-link:focus {
outline: 2px solid #000;
background-color: var(--basic-extra-light-hover);
}

.user-menu-link:active {
background-color: var(--basic-white);
}


.entry-image {
background-image: url("../images/header/log-in.svg");
background-repeat: no-repeat;
background-position: 16px center;
padding: 6px 16px 6px 39px;
}

.cart-image {
background-image: url("../images/header/cart.svg");
background-repeat: no-repeat;
background-position: 16px center;
padding: 6px 16px 6px 39px;
}
/* entry-form */
.user-menu-item:hover > .entry-form{
display: block;
}

.entry-form {
display: none;
top: 37px;
position: absolute;
right: 0;
background-color: var(--basic-extra-light);
padding: 48px 48px 52px 48px;
border-radius: 4px;
z-index: 2;
}

.entry-form::before {
position: absolute;
content: "";
top: -10px;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

.entry-title {
display: block;
font-size: 24px;
color: var(--basic-extra-dark);
font-weight: 700;
line-height: 30px;
margin-bottom: 32px;
}

.entry-input {
width: 324px;
padding: 14px 16px;
border: 1px solid var(--basic-neutral);
border-radius: 4px;
font-family: inherit;
font-size: inherit;
line-height: 20px;
transition: border .1s ease-out;
}

.entry-input:hover {
border: 1px solid var(--basic-extra-dark);

}

.entry-input:focus {
border: 1px solid var(--basic-extra-dark);
outline: 1px solid var(--basic-extra-dark);
}

.entry-input:invalid {
border: 1px solid var(--status-error);
}

.entry-input:invalid:hover {
outline: 1px solid var(--status-error);
border: 1px solid var(--status-error);
}

.entry-input:disabled {
color: rgba(45, 52, 64, 0.65);
background-color: var(--basic-light);
border-color: var(--basic-neutral);
}

.entry-input + .entry-input {
margin-top: 16px;
}
.entry-link-wrap {
margin-top: 32px;
display: flex;
}

.entry-button {
margin-right: 23px;
padding: 12px 32px;
font-weight: 700;
font-size: inherit;
line-height: 20px;
color: var(--basic-extra-light);
background-color: var(--special-extra-bright);
border-radius: 26px;
border: none;
outline: 4px solid rgba(255, 47, 100, 0.30);
box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
cursor: pointer;
transition: background-color .1s ease-out,
color .1s ease-out,
outline .1s ease-out,
border .1s ease-out;
}

.entry-button:hover {
background-color: var(--basic-white);
color: var(--basic-extra-dark);
outline: 4px solid var(--special-extra-bright);
}

.entry-button:active {
outline: 2px solid var(--basic-extra-dark);
background: var(--special-light);
color: var(--basic-extra-light);
}

.entry-button:focus {
outline: 2px solid var(--basic-extra-dark);
}

.entry-button:disabled {
outline: 4px solid rgba(185, 185, 185, 0.30);
background-color: var(--basic-neutral);
color: var(--basic-dark);
}

.entry-list {
padding: 0;
}

.entry-item {
list-style: none;

}

.entry-link {
color: var(--basic-extra-dark);
line-height: 20px;
font-size: 14px;
text-decoration-line: none;
border-bottom: 1px solid var(--basic-extra-dark);
padding-bottom: 2px;
}


/* entry-form */

/* search-menu */
.search-form {
display: none;
position: absolute;
top: 37px;
right: 0;
padding: 24px 16px;
background-color: var(--basic-extra-light);
border-radius: 4px;
box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
z-index: 1;
}


.search-form::before {
position: absolute;
content: "";
top: -10px;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

input:invalid {
border:1px solid var(--status-error);
}
input:hover:invalid {
border: 1px solid var(--status-error);
}

.search-form-input {
width: 324px;
padding: 14px 36px 16px 14px;
border-radius: 4px;
font-family: inherit;
font-size: inherit;
border: 1px solid var(--basic-neutral);
transition: border .1s ease-out;
position: relative;
}

.search-form-input:hover {
border: 1px solid var(--basic-extra-dark);
}


.search-form-input:focus {
outline: 1px solid var(--basic-extra-dark);
}

.search-form-input:invalid {
border: 1px solid var(--status-error);
}

.search-form-input:hover:invalid {
border: 1px solid var(--status-error);
outline: 1px solid var(--status-error);
}

.search-form-input:disabled {
color: rgba(45, 52, 64, 0.65);
background-color: var(--basic-light);
border-color: var(--basic-neutral);
}

.search-rorm-button-reset {
display: none;
position: absolute;
background-color: transparent;
border: none;
width: 16px;
height: 16px;
top: 40px;
right: 29px;
background-image: url("../images/header/cross.svg");
}


.search-form-input:not(:placeholder-shown) + .search-rorm-button-reset {
display: block;
}


/* search-menu */
/* ===================== HEADER=================== */

/* ===================== MAIN=================== */
.slider-section {
width: 1170px;
margin: 0 auto;
margin-bottom: 80px;
}

.slider-wrap {
display: flex;
position: relative;
gap: -3px;
}

.slider-data.active-slider {
display: flex;
}

.slider-data {
display: none;
flex-direction: column;
align-items: flex-start;
}


.slider-data-wrap {
display: flex;
flex-direction: column;
align-items: flex-start;
padding-left: 70px;
padding-top: 137px;
}

.slider-title {
width: 470px;
margin: 0;
margin-bottom: 24px;
font-size: 36px;
font-weight: 900;
line-height: 46px;
color: var(--basic-extra-dark);
}

.slider-title.slider-title-small {
width: 456px;
}

.slider-subtitle {
width: 429px;
font-size: 18px;
color: var(--basic-extra-dark);
line-height: 24px;
margin: 0;
margin-bottom: 48px;
}

.button {
display: block;
font-weight: 700;
line-height: 20px;
color: var(--basic-extra-dark);
text-decoration: none;
}

.slider-data-button {
border-radius: 26px;
padding: 12px 32px;
background-color: var(--basic-extra-light);
outline: 4px solid rgba(252, 252, 252, 0.40);
border: none;
transition: outline .1s ease-out,
background-color .1s ease-out;
}

.slider-data-button:hover {
background-color: rgba(252, 252, 252, 0.40);
outline: 4px solid var(--basic-extra-light);
}
.slider-data-button:focus {
outline: 2px solid var(--basic-extra-dark);
background-color: rgba(252, 252, 252, 0.50);
}

.slider-data-button:active {
background-color: var(--basic-extra-light);
outline: 2px solid var(--basic-extra-dark);
}

.slider-data-button:disabled {
outline: 4px solid rgba(252, 252, 252, 0.40);
background-color: var(--basic-light);
color: var(--basic-neutral);
}

.slider-right-column {
display: flex;
flex-direction: column;
margin-top: 21px;
}

.wrap-images.active-slider {
display: flex;
}

.wrap-images {
display: none;
align-items: center;
justify-content: space-between;
}

.wrap-item {
width: 352px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin-right: 37px;
}

.wrap-item.first-slider {
width: 367px;
}

.wrap-item::before {
content: "";
position: absolute;
display: block;
width: 312px;
height: 312px;
border-radius: 100%;
background-color: var(--special-exta-light);
}

.first-slider.wrap-item::before {
width: 324px;
height: 312px;
}

.ice-cream-image {
position: relative;
}


.ice-cream-image::before {
display: block;
position: absolute;
content: "";
width: 100px;
height: 100px;
background-color: var(--special-exta-light);
border-radius: 100%;
opacity: .4;
}


.small-img {
display: flex;
gap: 41px;
}

.small-wrap-img {
display: flex;
align-items: center;
justify-content: center;
width: 100px;
height: 150px;
position: relative;
opacity: .4;
}

.small-wrap-img::before {
display: block;
position: absolute;
content: "";
width: 100px;
height: 100px;
background-color: var(--special-exta-light);
border-radius: 100%;

}


.slider-controls {
display: flex;
justify-content: space-between;
width: 100%;
top: 50%;
position: absolute;
left: 0;
transform: translateY(-50%);
}

.slider-button {
position: relative;
border: none;
cursor: pointer;
width: 38px;
height: 38px;
border: 2px solid var(--basic-extra-light);
background-color: var(--basic-extra-light-icon);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 0.1s ease-out, border-color 0.1s ease-out;
}

.slider-button:hover {
background-color: var(--basic-extra-light);
}

.slider-button:focus{
border-color: var(--basic-extra-dark);
outline: none;
}

.slider-button:active {
background-color: var(--basic-extra-light-hover);
border-color: transparent;
}

.slider-button:disabled {
opacity: 0.4;
cursor: not-allowed;
}
.slider-prev {
transform: rotate(180deg);

}

.slider-button::before {
content: "";
display: block;
width: 16px;
height: 16px;
background-image: url("../images/main/slider/arrow.svg");
background-repeat: no-repeat;
background-position: center;
}

.slider-prev:hover::before,
.slider-next:hover::before,
.slider-prev:active::before,
.slider-next:active::before,
.slider-prev:focus::before,
.slider-next:focus::before {

background-image: url("../images/main/slider/arrow-black.svg");
}

.slider-pagination {
display: flex;
margin: 0;
padding: 0;
margin-top: 126px;
}

.slider-pagination-item {
list-style: none;
display: flex;
}

.slider-pagination-item + .slider-pagination-item {
margin-left: 8px;
}


.slider-pagination-button {
width: 12px;
height: 12px;
border: none;
border-radius: 100%;
background-color: var(--basic-extra-light-icon);
cursor: pointer;
transition: background-color 0.1s ease-out, outline 0.1s step-end;
}


.slider-pagination-button:hover:not(.slider-pagination-button-current) {
outline: 1px solid var(--basic-extra-light);
}


.slider-pagination-button:focus {
outline: 1px solid var(--basic-extra-dark);

}

.slider-pagination-button:active:not(.slider-pagination-button-current) {
background-color:  var(--basic-extra-light-hover);
border: none;
}


.slider-pagination-button-current {
background-color: var(--basic-extra-light);
}

.slider-pagination-button-current:focus {
outline: none;
}


.social-wrap {align-self: flex-end;}

.social-list {
display: flex;
gap: 16px;
margin: 0;
padding: 0;
}

.social-item {
list-style: none;
}

.social-link {
display: flex;
align-items: center;
justify-content: center;
width: 24px;
height: 24px;
border-radius: 100%;
outline: 2px solid var(--basic-extra-light-icon);
border-radius: 50%;
position: relative;
z-index: 1;
cursor: pointer;
transition: outline-color 0.1s ease-out;
}

.social-link > svg {
fill: var(--basic-extra-light);
}

.social-link::after {
content: '';
width: 90%;
height: 90%;
background-color: transparent;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 50%;
z-index: -1;
transition: background-color 0.1s ease-out, opacity 0.1s ease-out;
}

.social-link:hover::after,
.social-link:active::after,
.social-link:focus::after {
background-color: var(--basic-extra-dark);
}

.social-link:focus {
outline-color: var(--basic-extra-dark);
outline-offset: 0;
}

.social-link:hover {
outline-color: rgba(252, 252, 252, 0.30);
}

.social-link:active {
outline-color: rgba(252, 252, 252, 0.30);
opacity: 0.5;
}


.slider-wrap-bottom {
display: flex;
justify-content: space-between;
align-items: center;
}

/* ===================== MAIN=================== */

/* main */
/* -------- GIFT-SECTION -------- */
.main-gift {
margin: 0 auto;
}

.gift {
width: 1170px;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 80px;
}

.gift-title {
width: 434px;
text-align: center;
font-size: 32px;
font-weight: 900;
line-height: 46px;
color: var(--basic-extra-dark);
margin: 0;
margin-bottom: 55px;
}

.gift-wrap {
display: grid;
align-items: start;
grid-template-columns: repeat(2, 1fr);
gap: 30px;
}

.banner-item {
display: flex;
flex-direction: column;
border-radius: 16px;
padding: 36px 200px 36px 36px;
background-color: var(--special-neutral);
color: var(--basic-extra-dark);
}

.raspberries-img {
background-image: url("../images/main/raspberries.png");
background-position: right bottom;
background-repeat: no-repeat;
background-size: 219px 268px;
}

.marshmallow-img {
background-image: url("../images/main/marshmallow.png");
background-position: right bottom;
background-repeat: no-repeat;
}

.banner-title {
margin: 0;
font-size: 24px;
line-height: 30px;
margin-bottom: 28px;
}

.banner-subtitle {
margin: 0;
margin-bottom: 28px;
}

.banner-button {
align-self: start;
padding: 12px 32px;
border-radius: 26px;
background-color: var(--basic-extra-light);
outline: 4px solid rgba(252, 252, 252, 0.40);
box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
transition: background-color 0.1s ease-out, outline 0.1s ease-out, color 0.1s ease-out;
}

.banner-button:hover {
background-color: rgba(252, 252, 252, 0.40);
outline: 4px solid var(--basic-extra-light);
}

.banner-button:focus {
background-color: var(--basic-extra-light-hover);
outline: 2px solid var(--basic-extra-dark);
}
.banner-button:active {
background-color: var(--basic-extra-light);
outline: 2px solid var(--basic-extra-dark);
}

.banner-button:disabled {
outline: 4px solid rgba(252, 252, 252, 0.40);
background-color: var(--basic-light);
color: var(--basic-neutral);
}
/* -------- GIFT-SECTION -------- */

/* -------- CATALOG-SECTION --------- */
.catalog-section {
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 80px;
width: 1170px;
}
.catalog {
margin-bottom: 16px;
}


.catalog-title {
width: 527px;
text-align: center;
font-size: 32px;
font-weight: 900;
line-height: 46px;
color: var(--basic-extra-dark);
margin: 0;
margin-bottom: 56px;
}

.catalog-list {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 40px 30px;
margin: 0;
padding: 0;
}

.catalog-item {
display: flex;
flex-direction: column;
align-items: center;
list-style: none;
}

.catalog-image-link {
width: 168px;
height: 168px;
position: relative;
}



.catalog-image-link:focus {
outline: 3px solid var(--basic-extra-dark);
border-radius: 50%;
}

.catalog-image-link::after {
content: "";
position: absolute;
height: 117px;
width: 270px;
bottom: 0;
left: -51px;
border-radius: 8px 8px 0 0;
background-color: var(--basic-extra-light);
z-index: -1;
}


.catalog-item-wrap {
display: flex;
flex-direction: column;
align-items: center;
border-radius: 0 0 8px 8px;
padding: 16px 40px 24px;
background-color: var(--basic-extra-light);
}

.catalog-item-title {
margin: 0;
margin-bottom: 8px;
}

.catalog-item-link {
text-decoration: none;
color: var(--basic-extra-dark);
font-size: 20px;
line-height: 24px;
}

.catalog-item-subtitle {
text-align: center;
width: 190px;
margin: 0px 0 16px;
}

.catalog-data {
width: 190px;
display: flex;
align-items: center;
}

.item-price {
font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-right: auto;
color: var(--basic-extra-dark);
}

.item-cart {
display: flex;
align-items: center;
justify-content: center;
width: 32px;
height: 32px;
border-radius: 100%;
border: 2px solid transparent;
background-color: var(--special-extra-bright);
transition: background-color 0.1s ease-out, border 0.1s ease-out, border-color 0.1s ease-out;
}

.item-cart:hover {
background-color: rgba(252, 252, 252, 0.30);
border: 2px solid var(--special-extra-bright);
}

.item-cart:active {
background-color: var(--special-exta-light);
}

.item-cart:focus {
border-color: var(--basic-extra-dark);
outline: none;
}

.item-cart:disabled {
background-color: var(--basic-neutral);
outline: none;
border-color: transparent;
}

.item-cart > svg {
fill: var(--basic-extra-light);
}

.item-cart:hover > svg {
fill: var(--basic-extra-dark);
}

.item-cart:disabled > svg {
fill: var(--basic-dark);
}

/* -------- CATALOG-SECTION --------- */


/* -------- ABOUT-SECTION --------- */
.about {
width: 1170px;
}

.about-section {
margin: 0 auto;
background-image: url("../images/main/ceo.png");
background-repeat: no-repeat;
background-size: cover;
border-radius: 16px;
padding: 24px;
margin-bottom: 80px;
}

.about-wrap {
background-color: #FFFFFF;
border-radius: 16px;
padding: 56px 40px;
}

.about-title {
text-align: center;
font-size: 32px;
font-weight: 900;
line-height: 46px;
margin: 0;
margin-bottom: 56px;
color: var(--basic-extra-dark);
}

.about-list {
margin: 0;
padding: 0;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px 32px;
}

.about-item {
list-style: none;
}

.about-subtitle {
margin: 0;
padding-left: 64px;
position: relative;
}
.ice-cream-img {
background-image: url("../images/main/about/ice-cream.svg");
background-repeat: no-repeat;
background-position: 8px 8px;
}

.cow-img {
background-image: url("../images/main/about/cow.svg");
background-repeat: no-repeat;
background-position: 8px 8px;
}

.leaf-img {
background-image: url("../images/main/about/leaf.svg");
background-repeat: no-repeat;
background-position: 8px 8px;
}

.thermometer-img {
background-image: url("../images/main/about/thermometer.svg");
background-repeat: no-repeat;
background-position: 8px 8px;
}


.about-subtitle::before {
content: "";
position: absolute;
display: block;
width: 48px;
height: 48px;
left: 0;
border-radius: 100%;
border: 2px solid var(--basic-extra-dark);
background-color: transparent;
}
/* -------- ABOUT-SECTION --------- */

/* -------- BLOG-SECTION --------- */
.blog {
width: 1170px;
}

.blog-section {
margin: 0 auto;
margin-bottom: 80px;
}

.article-wrap {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 30px;
align-items: start;
}

.blog-article-preview {
border-radius: 16px;
}

.news-bg {
background-image: url("../images/main/blog/news.jpg");
background-repeat: no-repeat;
background-size: cover;
padding: 32px 235px 67px 32px;
}

.action-bg {
background-image: url("../images/main/blog/action.jpg");
background-repeat: no-repeat;
background-size: cover;
padding: 6px;
}

.article-preview-category {
color: var(--basic-dark);
text-decoration: none;
line-height: 20px;
margin-bottom: 13px;
display: inline-block;
}

.article-preview-title {
margin: 0;
font-size: 24px;
line-height: 30px;
color: var(--basic-extra-dark);
}

.article-preview-link {
color: inherit;
text-decoration: none;
}

.article-action-wrap {
background-color: var(--basic-white);
padding: 26px;
border-radius: 16px;
}

.article-action-description {
font-weight: 400;
line-height: 22px;
margin: 0px 0 44px;
}

.action-form {
display: flex;
gap: 18px;
align-items: center;
}

.action-input {
width: 332px;
border: 1px solid var(--basic-neutral);
background-color: var(--basic-white);
border-radius: 4px;
padding: 14px 16px;
font-family: inherit;
font-size: 16px;
font-weight: 400;
line-height: 20px;
transition: border 0.1s ease-out, outline 0.1s ease-out;
}

.action-input:hover {
border: 1px solid var(--basic-extra-dark);
}


.action-input:focus {
border: 1px solid var(--basic-extra-dark);
outline: 1px solid var(--basic-extra-dark);
}

.action-input:active {
outline: 1px solid var(--basic-extra-dark);
}

.action-input:invalid {
border: 1px solid var(--status-error);
}

.action-input:invalid:active {
border: 1px solid var(--status-error);
}


.action-input:invalid:focus {
border: 1px solid var(--status-error);
outline: none;
}


.action-input:invalid:hover {
outline: 1px solid var(--status-error);
border: 1px solid var(--status-error);
}

.action-input:disabled {
color: rgba(45, 52, 64, 0.65);
background-color: var(--basic-light);
border-color: var(--basic-neutral);
}


.action-button {
padding: 12px 32px;
background: var(--special-extra-bright);
border: none;
outline: 4px solid rgba(255, 47, 100, 0.30);
border-radius: 26px;
color: var(--basic-extra-light);
box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
transition: background-color 0.1s ease-out, color 0.1s ease-out, outline 0.1s ease-out;
}

.action-button:hover {
background-color: var(--basic-extra-light-hover);
color: var(--basic-extra-dark);
outline: 4px solid var(--special-bright)
}

.action-button:focus {
outline: 2px solid var(--basic-extra-dark);
}
.action-button:active {
background-color: var(--special-light);
outline: 2px solid var(--basic-extra-dark);
}

.action-button:disabled {
outline: 4px solid rgba(185, 185, 185, 0.30);
background-color: var(--basic-neutral);
color: var(--basic-dark);
}

/* -------- BLOG-SECTION --------- */

/* -------- DELIVERY-SECTION --------- */
.delivery {
width: 1170px;
}

.delivery-section {
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
gap: 135px;
background-image: url("../images/main/delivery/delivery.jpg");
background-size: cover;
background-repeat: no-repeat;
padding: 64px 64px 64px 100px;
border-radius: 16px;
margin-bottom: 80px;
background-position: center;
}

.delivery-title {
margin: 5px 0 24px 0;
font-size: 32px;
font-weight: 900;
line-height: 46px;
color: var(--basic-extra-dark);
}

.delivery-desctiption {
margin: 0;
}

.field[type="number"]::-webkit-inner-spin-button,
.field[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.field[type="number"] {
-moz-appearance: textfield;
}

.modal-name {
margin-bottom: 8px;
display: block;
font-weight: 700;
line-height: 20px;
color: var(--basic-extra-dark);
}


.field {
padding: 14px 16px;
border: 1px solid var(--basic-neutral);
border-radius: 4px;
color: var(--basic-extra-dark);
font-size: 16px;
font-family: inherit;
line-height: 20px;
height: 48px;
transition: border 0.1s ease-out, outline 0.1s ease-out;
}

.field:hover {
border: 1px solid var(--basic-extra-dark);
}


.field:focus {
border: 1px solid var(--basic-extra-dark);
outline: 1px solid var(--basic-extra-dark);
}

.field:active {
outline: 1px solid var(--basic-extra-dark);
}

.field:invalid {
border: 1px solid var(--status-error);
}

.field:invalid:active {
border: 1px solid var(--status-error);
}


.field:invalid:focus {
border: 1px solid var(--status-error);
outline: none;
}


.field:invalid:hover {
outline: 1px solid var(--status-error);
border: 1px solid var(--status-error);
}

.field:disabled {
color: rgba(45, 52, 64, 0.65);
background-color: var(--basic-light);
border-color: var(--basic-neutral);
}
.info-img {
background-image: url("../images/main/delivery/info.svg");
background-repeat: no-repeat;
}



.label-wrap {
display: flex;
gap: 4px;
align-items: flex-start;
}

.tooltip-toggle {
background-color: transparent;
border: none;
padding: 0;
}

.tooltip:hover > .tooltip-text  {
display: block;
}

.tooltip {
position: relative;
}

.tooltip-text {
position: absolute;
top: -12px;
left: 23px;
display: none;
width: max-content;
min-width: fit-content;
max-width: 164px;
min-height: 36px;
margin: 0;
padding: 10px 8px;
font-size: 12px;
line-height: 16px;
background-color: var(--basic-white);
border: 1px solid var(--basic-neutral);
border-radius: 1px;
}

.tooltip-text::before {
content: "";
position: absolute;
top: 0;
left: -14px;
z-index: 1;
display: block;
width: 14px;
height: 100%;
background-color: transparent;
background-image: url(../images/main/delivery/tooltip-text-tail.svg);
background-repeat: no-repeat;
background-position: top 11px right 0;
background-size: 7px 14px;
}


.delivery-form-wrap {
background-color: var(--basic-extra-light);
padding: 40px 40px 42px;
border-radius: 8px;
}

.delivery-form-desctiption {
width: 380px;
margin: 0 0 32px;
}

.delivery-form {
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 16px;
}

.field-group {
margin: 0px 0 20px;
}

.appointment-form-date {
grid-column: 1 / 2;
}

.field-delivery-date {
width: 117px;
line-height: 20px;
}


.appointment-form-tel {
grid-column: 2 / 3;
}

.field-delivery-tel {
width: 287px;
line-height: 20px;
}

.appointment-form-address {
grid-column: 1 / -1;
}

.field-delivery-address {
width: 420px;
line-height: 20px;
}

.field-group.appointment-form-address {
margin-bottom: 32px;
}

.button-delivery {
grid-column: 2 / 3;
padding: 12px 32px;
background: var(--special-extra-bright);
border: none;
outline: 4px solid rgba(255, 47, 100, 0.30);
border-radius: 26px;
color: var(--basic-extra-light);
box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
justify-self: start;
transition: background-color 0.1s ease-out, color 0.1s ease-out, outline 0.1s ease-out;
}

.button-delivery:hover {
background-color: var(--basic-extra-light-hover);
color: var(--basic-extra-dark);
outline: 4px solid var(--special-bright)
}

.button-delivery:focus {
outline: 2px solid var(--basic-extra-dark);
}
.button-delivery:active {
background-color: var(--special-light);
outline: 2px solid var(--basic-extra-dark);
}

.button-delivery:disabled {
outline: 4px solid rgba(185, 185, 185, 0.30);
background-color: var(--basic-neutral);
color: var(--basic-dark);
}
/* -------- DELIVERY-SECTION --------- */

/* -------- CONTACT-SECTION --------- */
.contacts {
width: 1170px;
}

.contacts-section {
margin: 0 auto;
background-image: url("../images/main/address/ice-creams.jpg");
background-position: center;
background-repeat: no-repeat;
padding: 64px;
border-radius: 16px;
}

.contacts-wrap {
display: flex;
flex-direction: column;
width: 343px;
border-radius: 8px;
padding: 40px;
background-color: var(--basic-extra-light);
}


.contacts-title {
margin: 0px 0 12px;
font-size: 16px;
font-weight: 400;
line-height: 22px;
color: var(--basic-dark);
}

.contacts-street {
display: block;
margin: 0 0 24px;
font-size: 20px;
text-decoration: none;
font-weight: 700;
line-height: 24px;
font-style: normal;
color: var(--basic-extra-dark);
}

.contacts-tel {
color: var(--basic-extra-dark);
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-decoration: none;
}

.contacts-work-time {
font-size: 14px;
display: block;
}

.contacts-button {
align-self: flex-start;
padding: 12px 32px;
background: var(--special-extra-bright);
border: none;
outline: 4px solid rgba(255, 47, 100, 0.30);
border-radius: 26px;
color: var(--basic-extra-light);
box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
margin-top: 32px;
transition: background-color 0.1s ease-out, color 0.1s ease-out, outline 0.1s ease-out;
}

.contacts-button:hover {
background-color: var(--basic-extra-light-hover);
color: var(--basic-extra-dark);
outline: 4px solid var(--special-bright)
}

.contacts-button:focus {
outline: 2px solid var(--basic-extra-dark);
}
.contacts-button:active {
background-color: var(--special-light);
outline: 2px solid var(--basic-extra-dark);
}

.contacts-button:disabled {
outline: 4px solid rgba(185, 185, 185, 0.30);
background-color: var(--basic-neutral);
color: var(--basic-dark);
}

/* -------- CONTACT-SECTION --------- */

/* -------- BREADCRAMS ----------- */
.breadcrumds{
width: 1170px;
margin: 0 auto;
margin-bottom: 40px;
margin-top: 32px;
}
.breadcrams-list {
padding: 0;
margin: 0;
display: flex;
align-items: center;
margin-bottom: 16px;
}
.breadcrams-item {
list-style: none;
padding-right: 28px;
position: relative;
display: flex;
}

.breadcrams-item:last-child {
padding-right: 0;
}

.breadcrams-link {
color: var(--basic-extra-dark);
font-size: 14px;
font-weight: 700;
line-height: 20px;
text-decoration: none;
color: var(--basic-extra-dark);

}

.current-link {
position: relative;
}

.current-link::after{
content: "";
position: absolute;
right: -1px;
bottom: 0;
width: 100%;
height: 1px;
background-color: var(--basic-extra-dark);
}

.breadcrams-item:not(:last-child)::after {
content: "";
width: 12px;
height: 12px;
position: absolute;
top: 50%;
right: 8px;
background-image: url("../images/main/chevrons-right.svg");
background-repeat: no-repeat;
transform: translateY(-50%);
}

.header-title {
margin: 0;
font-size: 32px;
font-weight: 900;
line-height: 46px;
color: var(--basic-extra-dark);
}

/* -------- BREADCRAMS ----------- */

/* ------- CATALOG-FILTER-SECTION ------ */
.catalog-filter-section {
width: 1170px;
margin: 0 auto;
margin-bottom: 44px;
}
.catalog-filter-form {
display: flex;
width: 100%;
margin-bottom: 44px;
flex-wrap: wrap;
}

.catalog-filter-group {
padding: 0;
border: none;
margin: 0;
margin-right: 24px;
}

.catalog-filter-title {
padding: 0;
font-size: 14px;
line-height: 20px;
color: var(--basic-extra-dark);
padding: 0 0 8px 16px;
}


.select-control {
background-color: rgba(252, 252, 252, 0.30);
border: none;
min-width: 196px;
padding: 8px 16px;
border-radius: 20px;
font-size: 14px;
line-height: 20px;
appearance: none;
background-image:  url("../images/main/catalog/arrow-down.svg");
background-repeat: no-repeat;
background-position: right 13px top 10px;
font-family: "Inter";
}

.select-control:hover {
background-color: rgba(252, 252, 252, 0.50);
}

.select-control:focus {
outline: 2px solid var(--basic-extra-light);
}

.select-item {
font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 20px;
}

.range-wrap {
border-radius: 20px;
background-color: rgba(252, 252, 252, 0.30);
width: 196px;
height: 36px;
display: flex;
align-items: center;
justify-content: center;
}

.range-scale {
position: relative;
height: 2px;
top: 8px;
margin-bottom: 16px;
background-color: rgba(86, 92, 102, 0.30);
left: 0;
width: 164px;
}
.range-bar {
position: absolute;
height: 2px;
background-color: var(--basic-dark);

}
.range-toggle {
position: absolute;
width: 16px;
border: none;
height: 16px;
background-image: url("../images/main/catalog/slider/circle.svg");
background-position: center;
background-color: transparent;
transition: outline 0.1s ease-out;
}

.range-toggle:hover {
background-image: url("../images/main/catalog/slider/circle-hover.svg");
}
.range-toggle:focus {
background-image: url("../images/main/catalog/slider/circle-hover.svg");
outline: 2px solid var(--basic-extra-dark);
border-radius: 50%;
}

.range-toggle:active {
background-image: url("../images/main/catalog/slider/circle-active.svg");
outline: none;
}

.toggle-min {
top: -7px;
left: -16px;
}
.toggle-max {
top: -7px;
left: 55px;
}

.control {
display: flex;
align-items: center;
}

.control-radio {
display: flex;
align-items: center;
font-size: 14px;
line-height: 20px;
color: var(--basic-extra-dark);
}

.control-mark {
position: relative;
display: flex;
align-items: center;
width: 16px;
height: 16px;
z-index: 1;
background-color: transparent;
}

.checkbox-mark {
border: 1px solid var(--basic-extra-dark);
}

.control-input[type="radio"]:checked + .control-mark::before {
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 6px;
height: 6px;
transform: translateX(-50%) translateY(-50%);
border-radius: 50%;
background-color: var(--basic-extra-dark);
}

.control-input + .control-mark {
border: 2px solid #2D3440;
}

.control-input + .checkbox-mark {
border: 1px solid #2D3440;
}

.icon-checkbox {
fill: var(--basic-extra-dark);
}


.control-input[type="radio"] + .control-mark {
border-radius: 50%;
}

.control-input[type="radio"]:hover + .control-mark {
border-color: var(--basic-extra-light);
}

.control-input[type="radio"]:focus + .control-mark {
border-color: var(--basic-extra-light);
}

.control-input[type="radio"]:disabled + .control-mark {
border-color: var(--basic-extra-dark);
opacity: 0.4;
}

.control-input[type="radio"]:hover:checked + .control-mark::before {
background-color: var(--basic-extra-light);
}

.control-input[type="radio"]:focus:checked + .control-mark::before {
background-color: var(--basic-extra-light);
}

.control-input[type="radio"]:disabled:checked + .control-mark::before {
background-color: var(--basic-extra-dark);
opacity: 0.4;
}
.control-input[type="checkbox"]:checked + .control-mark {
border: none;
}

.control-input[type="checkbox"] + .control-mark svg {
display: none;
}

.control-input[type="checkbox"]:checked + .control-mark svg {
display: block;
}

.control-input[type="checkbox"] + .control-mark {
border-radius: 2px;
}


.control-input[type="checkbox"]:hover:checked + .control-mark svg {
fill: var(--basic-extra-light);
}

.control-input[type="checkbox"]:focus:checked + .control-mark svg {
fill: var(--basic-extra-light);
}

.control-input[type="checkbox"]:disabled:checked + .control-mark svg {
fill: rgba(45, 52, 64, 0.5);
}

.control-input[type="checkbox"]:hover + .checkbox-mark{
border-color: var(--basic-extra-light);
}
.control-input[type="checkbox"]:focus + .checkbox-mark{
border-color: var(--basic-extra-light);
}

.control-input[type="checkbox"]:disabled + .checkbox-mark{
border-color: rgba(45, 52, 64, 0.5);
}

.fillers-item {
margin-top: 16px;
margin-right: 16px;
}

.control-filter-list {
margin: 0;
padding: 0;
display: flex;
padding: 8px 26px;
background-color: rgba(252, 252, 252, 0.30);
border-radius: 18px;
justify-content: normal;
align-items: center;
}

.control-filter-list-wrap {
padding:  10px 26px;
}

.control-filter-item {
list-style: none;
margin-right: 16px;
}

.control-filter-item:last-child {
margin-right: 0;
}

.control-label {
position: relative;
display: inline-flex;
align-items: center;
font-size: 14px;
padding-left: 8px;
line-height: 20px;
color: var(--basic-extra-dark);
}



.button-filter {
font-family: inherit;
align-self: flex-end;
font-size: 14px;
font-weight: 700;
line-height: 20px;
padding: 8px 52px;
border-radius: 20px;
background-color: rgba(252, 252, 252, 0.30);
border: 2px solid var(--basic-extra-light);
outline: none;
transition: outline 0.1s ease-out, background-color 0.1s ease-out,  border-color 0.1s ease-out;
}

.button-filter:hover {
background-color: var(--basic-extra-light);
outline: 2px solid rgba(255, 255, 255, .3);
}

.button-filter:active {
background-color: rgba(252, 252, 252, 0.50);
border-color: transparent;
}

.button-filter:focus {
background-color: rgba(252, 252, 252, 0.30);
border-color: var(--basic-extra-dark);

}

.button-filter:disabled {
opacity: 0.4;

}
/* ------- CATALOG-FILTER-SECTION ------ */

/* ------- PAGINATION-SECTION ------ */
.pagination-section {
width: 1170px;
margin: 0 auto;
display: flex;
align-items: center;
padding: 41px 0 41px;
margin-bottom: 40px;
}

.button-load {
font-family: inherit;
color: var(--basic-extra-dark);
padding: 12px 32px;
background-color: var(--basic-extra-light);
outline: 4px solid rgba(252, 252, 252, 0.40);
box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
border-radius: 26px;
margin: 0 auto  0 488px;
transition: outline .1s ease-out, background-color .1s ease-out;
}

.button-load:hover {
background-color: rgba(252, 252, 252, 0.40);
outline: 4px solid var(--basic-extra-light);
}
.button-load:focus {
outline: 2px solid var(--basic-extra-dark);
background-color: rgba(252, 252, 252, 0.50);
}

.button-load:active {
background-color: var(--basic-extra-light);
outline: 2px solid var(--basic-extra-dark);
}

.button-load:disabled {
opacity: 0.4;
}

.pagination-wrap {
display: flex;
align-items: center;
gap: 8px;
}
.pagination-button {
display: flex;
align-items: center;
justify-content: center;
background-color: transparent;
border: none;
padding: 0;
cursor: pointer;
}

.previous-button svg {
opacity: 0.3;
}

.pagination-button svg {
fill: var(--basic-extra-dark)
}

.pagination-list {
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
}
.pagination-item {
list-style: none;
}



.pagination-link {
text-decoration: none;
color: var(--basic-extra-dark);
line-height: 20px;
border-radius: 50%;
padding: 2px 7px;
}

.pagination-link:hover {
background-color: rgba(252, 252, 252, 0.50);
}
.pagination-link:focus {
outline: 1px solid var(--basic-extra-dark);
}

.pagination-link:active {
outline: 1px solid var(--basic-extra-light);
}


.pagination-current {
padding: 2px 8px;
background-color: var(--basic-extra-light);
border-radius: 50%;
}



/* ------- PAGINATION-SECTION ------ */

/* main */

/* footer */
.footer--border {
border-top: 1px solid rgba(252, 252, 252, 0.30);
}

.main-footer {
width: 1170px;
margin: 0 auto;
display: flex;
justify-content: space-between;
padding: 48px 0;
}

.footer-social-list {
margin: 0;
padding: 0;
display: flex;
margin-right: 260px;
gap: 16px;
}

.social-item{
list-style: none;
margin: 0;
padding: 0;
display: flex;
align-self: flex-start;
}

.social-link  {
display: flex;
width: 24px;
height: 24px;
border-radius: 50%;
z-index: 0;
align-items: center;
z-index: 1;
outline: 2px solid rgba(252, 252, 252, 0.30);
}

.social-link > svg {
width: 100%;
height: 100%;
position: relative;
}


.footer-list-links {
margin: 0;
padding: 0;
display: grid;
grid-template-columns: repeat(2, auto);
gap: 8px 24px;
padding-left: 24px;
list-style: none;
align-content: start;
margin: 0;
}

.heart-svg {
background-image: url("../images/footer/heart.svg");
background-repeat: no-repeat;
background-position: left top;
}

.footer-list-links + .footer-list-links {
margin-left: 24px;
}

.footer-item {
font-size: 14px;
line-height: 20px;
list-style: none;
}
.footer-link {
text-decoration: none;
font-size: 14px;
line-height: 20px;
color: var(--basic-extra-dark);
}

.favorites-link {
font-weight: 700;
position: relative;
}

.favorites-link::before {
position: absolute;
content: "";
width: 16px;
height: 16px;
left: -24px;
top: 2px;
background-image: url("../images/footer/heart.svg");
background-repeat: no-repeat;
background-position: left top;
}

.footer-element-wrap {
margin-left: auto;
display: flex;
flex-direction: column;
}

.footer-school {
display: flex;
margin-bottom: 14px;
align-self: flex-start;
}

.footer-copyright {
font-size: 12px;
margin: 0;
font-weight: 400;
line-height: 16px;
color: var(--basic-extra-dark);
}

.copyright-link {
display: inline-block;
position: relative;
font-size: 12px;
color: var(--basic-extra-dark);
line-height: 16px;
text-decoration: none;
}

.copyright-link::after{
content: "";
display: block;
position: absolute;
bottom: 0;
width: 100%;
height: 1px;
background-color: rgba(45, 52, 64, 0.5);
}
/* footer */


/* modal */
.modal-container  {
display: flex;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(45, 52, 64, 0.3);
z-index: 4;
}

.close-modal {
display: none;
}

.modal {
margin: auto;
padding: 64px 62px 66px 64px;
box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
border-radius: 8px;
background: var(--basic-extra-light);
}

.modal-auth {
position: relative;
}

.modal-title {
margin: 0;
margin-bottom: 32px;
font-size: 24px;
line-height: 30px;
color: var(--basic-extra-dark);
}

.modal-close-button {
position: absolute;
top: 32px;
right: 32px;
width: 20px;
height: 20px;
background-color: transparent;
border: none;
background-image: url("../images/main/cross-modal.svg");
background-position: center;
transition: opacity .1s ease-out;
}

.modal-close-button:hover {
opacity: 0.6;
}

.modal-close-button:focus {
outline: 2px solid var(--basic-extra-dark);
}

.modal-close-button:active {
opacity: 0.3;
}

.modal-form {
display: flex;
flex-direction: column;
}

.field-group-wrap {
margin: 0;
}

.field-group-wrap + .field-group-wrap {
margin-top: 16px;
}

.field-modal {
font-family: inherit;
width: 442px;
height: 48px;
padding: 14px 16px;
border-radius: 4px;
border: 1px solid var(--basic-neutral);
background: var(--basic-white);
font-size: 16px;
line-height: 20px;
}

.field-modal:hover {
border: 1px solid var(--basic-extra-dark);
}

.field-modal:focus {
border: 1px solid var(--basic-extra-dark);
outline: 1px solid var(--basic-extra-dark);
}

.field-modal:active {
outline: 1px solid var(--basic-extra-dark);
}

.field-modal:invalid {
border: 1px solid var(--status-error);
}

.field-modal:invalid:active {
border: 1px solid var(--status-error);
}


.field-modal:invalid:focus {
border: 1px solid var(--status-error);
outline: none;
}

.field-modal:invalid:hover {
outline: 1px solid var(--status-error);
border: 1px solid var(--status-error);
}

.field-modal:disabled {
color: rgba(45, 52, 64, 0.65);
background-color: var(--basic-light);
border-color: var(--basic-neutral);
}

.appointment-form-textarea {
font-family: inherit;
margin: 0;
padding: 14px 16px;
resize: none;
width: 442px;
height: 149px;
border: 1px solid var(--basic-neutral);
background: var(--basic-white);
border-radius: 4px;
}

.appointment-form-button {
margin-top: 32px;
align-self: flex-end;
padding: 12px 32px;
background: var(--special-extra-bright);
border: none;
outline: 4px solid rgba(255, 47, 100, 0.30);
border-radius: 26px;
color: var(--basic-extra-light);
box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.10);
transition: background-color 0.1s ease-out, color 0.1s ease-out, outline 0.1s ease-out;
}

.appointment-form-button:hover {
background-color: var(--basic-extra-light-hover);
color: var(--basic-extra-dark);
outline: 4px solid var(--special-bright)
}

.appointment-form-button:focus {
outline: 2px solid var(--basic-extra-dark);
}
.appointment-form-button:active {
background-color: var(--special-light);
outline: 2px solid var(--basic-extra-dark);
}

.appointment-form-button:disabled {
outline: 4px solid rgba(185, 185, 185, 0.30);
background-color: var(--basic-neutral);
color: var(--basic-dark);
}
/* modal */
